---
    layout: pages/graphic-design.njk
    title: "تدريب آجي نكوديو: تعلم التصميم الجرافيكي"
    meta_description: "تعلم التصميم الجرافيكي مع تدريب آجي نكوديو. احصل على أساس قوي في التصميم باستخدام أدوات مثل Photoshop وIllustrator، وابدأ في تطوير مهاراتك الإبداعية."
    meta_keywords: "تدريب التصميم الجرافيكي, تعلم Photoshop, تعلم Illustrator, تصميم الشعارات, تصميم الويب, تعلم الإبداع, دورة التصميم الجرافيكي"
    meta_author: "كريم العيساوي, أشرف تفاح"
---