---
layout: main.njk
title: سياسة الخصوصية
---

<main class="flex-grow pt-10">
    <section class="relative">
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div>
                <div class="text-center">
                    <h1 class="text-4xl md:text-5xl font-extrabold leading-tighter mb-6 md:mb-10"
                        data-aos="zoom-y-out">
                        سياسة الخصوصية
                    </h1>
                    <p dir="rtl">
                        نحرص في موقعنا على حماية خصوصية المستخدمين بشكل تام، ونلتزم بعدم مشاركة أي معلومات شخصية دون موافقتك. هذه السياسة توضح كيف يتم جمع البيانات واستخدامها لضمان تجربة آمنة وموثوقة.
                        <br /><br />
                        في حال وجود أي استفسارات حول سياسة الخصوصية، يمكنك التواصل معنا عبر البريد الإلكتروني:
                        <br />
                        <a class="text-blue-600 hover:underline"
                            href="mailto:ajincodew.academy@gmail.com">ajincodew.academy@gmail.com</a>
                        <br /><br />

                        <strong>ما البيانات التي نقوم بجمعها؟</strong>
                        <br /><br />
                        نحن لا نقوم بجمع أي معلومات شخصية دون علمك. أي بيانات يتم إدخالها تكون بموافقتك عند التسجيل أو الاشتراك في خدماتنا، وتشمل:
                        <br /><br />
                        - الاسم الأول  
                        - عنوان البريد الإلكتروني  
                        - رقم الهاتف (عند الحاجة)  
                        <br /><br />
                        <strong>تعديل المعلومات الشخصية:</strong>  
                        يمكنك في أي وقت طلب تعديل بياناتك عبر مراسلتنا على البريد الإلكتروني أعلاه.
                        <br /><br />

                        <strong>تحديث سياسة الخصوصية:</strong>  
                        <br />
                        قد يتم تعديل هذه السياسة من وقت لآخر لتتماشى مع أفضل الممارسات. عند حدوث أي تغييرات، سيتم نشر إشعار على الموقع لإبقائك على اطلاع.
                        <br /><br />

                        <strong>ملفات تعريف الارتباط (Cookies):</strong>  
                        <br />
                        نحن نستخدم ملفات تعريف الارتباط لتحسين تجربة المستخدم وتسهيل عملية التصفح. يمكنك ضبط إعدادات المتصفح لتعطيلها إذا كنت تفضل ذلك.
                        <br /><br />

                        <strong>الموافقة على الاستخدام:</strong>  
                        <br />
                        باستخدامك لهذا الموقع، فإنك توافق على سياسة الخصوصية الخاصة بنا وتقر بأنك قد قرأتها وفهمتها بالكامل.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
