---
layout: main.njk
title: إخلاء المسؤولية
---

<main class="flex-grow pt-10">
    <section class="relative">
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div>
                <div class="text-center">
                    <h1 class="text-4xl md:text-5xl font-extrabold leading-tighter mb-6 md:mb-10" data-aos="zoom-y-out">
                        إخلاء المسؤولية
                    </h1>
                    <p dir="rtl">
                        عند استخدامك لهذا الموقع أو شرائك لأي من خدماتنا، فإنك تقرّ بموافقتك الكاملة على جميع بنود 
                        إخلاء المسؤولية الواردة في هذه الصفحة. إذا كان لديك أي استفسار، لا تتردد في التواصل معنا عبر:
                        <br />
                        <a class="text-blue-600 hover:underline" href="mailto:ajincodew.academy@gmail.com">
                            ajincodew.academy@gmail.com
                        </a>
                        <br /><br />

                        من خلال تصفحك لهذا الموقع والاستفادة من محتوياته أو منتجاته، فإنك توافق تلقائيًا على جميع البنود 
                        المذكورة. إذا كنت غير موافق على أي جزء من هذه الشروط، نرجو منك عدم استخدام الموقع أو أي من خدماته.
                        <br /><br />

                        <strong>الغرض التعليمي:</strong><br />
                        جميع المعلومات والمحتوى المتاح على هذا الموقع معدّ لأغراض تعليمية وإثرائية فقط. نحن نقدم لك 
                        المعرفة والأدوات التي تساعدك على تطوير مهاراتك في مختلف المجالات، لكننا لسنا مستشارين طبيين أو 
                        متخصصين في الصحة النفسية أو أي مجال مهني آخر. دورنا يقتصر على تقديم المعلومات التي يمكنك 
                        استخدامها وفقًا لحاجتك، لكنك تتحمل المسؤولية الكاملة عن كيفية تطبيقها.
                        <br /><br />

                        <strong>عدم تقديم ضمانات:</strong><br />
                        نحن نبذل جهدنا لمساعدتك وتقديم محتوى قيّم، ولكن نجاحك يعتمد بشكل أساسي على اجتهادك الشخصي، 
                        التزامك، وتطويرك المستمر. لا يمكننا ضمان تحقيق نفس النتائج التي حققها الآخرون، فكل شخص يختلف عن 
                        الآخر في قدراته وتجربته.
                        <br /><br />

                        <strong>تحمل المسؤولية الشخصية:</strong><br />
                        أنت وحدك المسؤول عن أي قرارات تتخذها بناءً على المعلومات الموجودة في الموقع. أي استخدام غير 
                        قانوني أو غير صحيح للمحتوى يقع تحت مسؤوليتك الشخصية، ولا نتحمل أي تبعات قانونية أو مهنية 
                        نتيجة لذلك.
                        <br /><br />

                        <strong>الموافقة الضمنية:</strong><br />
                        بمجرد استخدامك لهذا الموقع أو شرائك لأي من خدماته، فإنك توافق على جميع البنود المذكورة في هذه 
                        الصفحة بشكل تلقائي.
                        <br /><br />
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
