---
layout: main.njk
title: "أخطاء شائعة كنوقعو فيها ف CV"
---

<main class="flex-grow pt-16">
  <section class="relative max-w-6xl mx-auto px-5 sm:px-6 mb-6">
    <div class="container mx-auto flex flex-col items-center">
      <div class="grid grid-cols-1 pt-16 text-center">
        <p class="text-red-600 text-3xl md:text-4xl font-bold ltr:text-left rtl:text-right ltr:md:text-center rtl:md:text-center mb-4 leading-tighter">
          الأخطاء الي كنديرو ف CV !
          <i class="fas fa-file-alt mr-2"></i>
        </p>
      </div>
    </div>
  </section>

  <section class="max-w-5xl relative mx-auto px-5 sm:px-6 mb-6 pt-6 mt-6">
    <h2 class="text-xl font-semibold text-red-600 mb-3">1. كثرة التفاصيل اللي ما عندها علاقة</h2>
    <p class="text-base text-gray-700 mb-4">كاينين الناس لي كيعمر CV بحوايج ماشي ضروريين بحال الهوايات اللي ما عندها حتى علاقة بالمجال، ولا تجارب خدام فيها غير نهار ولا جوج. ركز غير على اللي مهم!</p>

    <h2 class="text-xl font-semibold text-red-600 mb-3">2. عدم تحديد الأهداف بشكل واضح</h2>
    <p class="text-base text-gray-700 mb-4">كتير من الناس كيخليو CV ديالهم عام، بلا ما يكون عندهم هدف واضح فالمجال اللي باغين يخدمو فيه. خلي CV ديالك موجه لفرصة العمل اللي كتشوفها مناسبة!</p>

    <h2 class="text-xl font-semibold text-red-600 mb-3">3. الأخطاء اللغوية والنحوية</h2>
    <p class="text-base text-gray-700 mb-4">خطأ لغوي بسيط فـ CV يمكن ينقص من فرصتك. راجع النص ديالك ملي كتكون فـ CV وتأكد من الأخطاء النحوية والصياغية!</p>

    <h2 class="text-xl font-semibold text-red-600 mb-3">4. غياب التفاصيل عن التجارب السابقة</h2>
    <p class="text-base text-gray-700 mb-4">إذا كنت خدمتي فـ شركات سابقة، خصك تكتب تفاصيل عن المسؤوليات والإنجازات ديالك. بدون هاد التفاصيل، ما غاديش يكون عندك تأثير كبير فـ CV.</p>

    <h2 class="text-xl font-semibold text-red-600 mb-3">5. التصميم المعقد والمزدحم</h2>
    <p class="text-base text-gray-700 mb-4">بعض الناس كيديرو تصميمات معقدة أو بزاف ديال الألوان، واللي كيدير الفوضى. خلي التصميم بسيط وواضح بحيث التركيز يكون على المحتوى، مشي على الشكل!</p>

    <h2 class="text-xl font-semibold text-red-600 mb-3">6. إغفال المهارات الشخصية (Soft Skills)</h2>
    <p class="text-base text-gray-700 mb-4">بعض الناس كيما يهتموش بالمهارات الشخصية بحال التواصل الفعّال والعمل الجماعي. هاد المهارات مهمة فـ جميع المهن، وخصك تبرزها فـ CV ديالك!</p>

    <h2 class="text-xl font-semibold text-red-600 mb-3">7. عدم تحديث الـ CV بانتظام</h2>
    <p class="text-base text-gray-700 mb-4">ممكن يكون عندك تجربة عمل جديدة أو تعليم إضافي، ولكن إذا ما حدثتيش CV ديالك، غادي تضيع فرص مهمة!</p>
    <p class="mt-8 text-center font-bold text-red-600">
      #اجينكوديو #سبرينغ #اجي_تفهم
    </p>
  </section>
</main>
