---
layout: main.njk
plugins:
    - cta
    - mask
    - cleave-phone.ma
    - swiper
---

{% include "partials/cta.njk" %}
<main class="flex-grow pt-16">
    {% include "partials/fixed.njk" %}


</div>
    <section class="relative max-w-6xl mx-auto px-5 sm:px-6 mb-6">
        <div class="grid grid-cols-1 gap-1 lg:gap-10 md:grid-cols-2">
          <div
            style="margin-right: 30%; margin-top: 30px"
            class="relative h-[360px] overflow-hidden rounded-lg max-h-72 md:max-h-full p-0 md:ltr:col-start-2 md:rtl:col-start-2 row-start-1 col-start-1">
            {% image "src/assets/images/ajincodew_photos/ajincodewacademy_home.png", "woman smilling", ["webp","png"], [600,1200], "(min-width: 780px) 720px, 518px", {class:"absolute inset-0 h-full mx-auto w-fit object-contain"} %}
            </div>
            <div
            class="flex flex-col justify-center items-center flex-shrink-0 p-2 md:p-0 md:col-start-1 md:row-start-1 row-start-2"
            dir="{{ dir }}">

            <div class="text-center rtl:lg:text-right ltr:lg:text-left self-start md:text-right">
                <h2 class="text-2xl font-bold sm:text-3xl ">{{ "HeroHome.title" | i18n }}</h2>
                <p class="mt-4 text-gray-600 text-lg mb-4 md:mb-0">{{ "HeroHome.subtitle" | i18n}}</p>
                <div class="mx-auto max-w-none" x-data >
                <a 
                    class="btn text-white w-full md:max-w-fit md:my-6"
                    style="background-color:#0fb579" 
                    href="/ar/basics"
                >{{ "HeroHome.cta1" | i18n}}</a>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="relative max-w-6xl mx-auto px-5 sm:px-6">
      <div class="flex flex-col md:flex-row-reverse gap-6 md:gap-10">
        <div class="">
            <p class=" mb-2 md:mb-3 text-2xl md:text-3xl font-bold text-gray-900 text-right ltr:text-left">
                {{ "AboutUs.Mission.title" | i18n }}
            </p>
            <p class=" md:mb-3 text-base md:text-lg font-normal text-gray-600 text-right ltr:text-left">
                {{ "AboutUs.Mission.content" | i18n }}
            </p>
        </div>
        <div class="">
        <p class=" mb-2 md:mb-3 text-2xl md:text-3xl font-bold text-gray-900 text-right ltr:text-left">
            {{ "AboutUs.Vision.title" | i18n }}
        </p>
        <p class=" md:mb-3 text-base md:text-lg font-normal text-gray-600 text-right ltr:text-left">
            {{ "AboutUs.Vision.content" | i18n }}
        </p>
        </div>
        
      </div>
    </section>



    <section class="relative max-w-6xl mx-auto px-5 sm:px-8 py-6">
        <p class='text-center text-3xl md:text-3xl font-bold mb-4 md:mb-6  ' >{{ "AboutUs.Values.title" | i18n }}  </p>
        <div class="grid grid-cols-1 gap-4 md:gap-4 md:grid-cols-2">
            {% for item in translation[page.lang].AboutUs.Values.content %}
            <div class="flex flex-row-reverse items-start text-right ltr:text-left ml-auto">
                <div class="mr-4 ml-4">
                    <p class="text-lg font-semibold leading-tight">
                        {{ item.title | i18n }}
                    </p>
                    <p class="mt-1 text-base font-normal">
                        {{ item.content | i18n }}
                    </p>
                </div>
                <div class='flex-shrink-0 bg-white rounded-lg outline outline-1
                 outline-green-primary p-3 w-10 h-10 flex justify-center items-center '>
                    {% if item.icon == "users" %}
                        <i class="fa fa-users text-green-primary text-center" aria-hidden="true"></i>
                    {% elif item.icon == "bolt" %}
                        <i class="fas fa-bolt text-green-primary text-center" aria-hidden="true"></i>
                    {% elif item.icon == "globe-americas" %}
                        <i class="fas fa-globe-americas text-green-primary text-center" aria-hidden="true"></i>
                    {% elif item.icon == "lightbulb" %}
                        <i class="fa fa-lightbulb  text-green-primary text-center" aria-hidden="true"></i>
                    {% elif item.icon == "briefcase" %}
                        <i class="fa fa-briefcase text-green-primary text-center" aria-hidden="true"></i>
                    {% elif item.icon == "shield" %}
                        <i class="fa fa-shield-alt text-green-primary text-center" aria-hidden="true"></i>
                    {% elif item.icon == "rocket" %}
                        <i class="fas fa-rocket text-green-primary text-center" aria-hidden="true"></i>
                    {% elif item.icon == "hand" %}
                        <i class="fa fa-hand-holding-heart text-green-primary text-center" aria-hidden="true"></i>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
                {% include "partials/ourteam.njk" %}
        <!-- {% include "partials/Home/certification.njk" %} -->
        {% include "partials/social.njk" %}
</main>
